<!DOCTYPE html><!--
PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"-->
<html>
<head>
   <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
    <title>Kalendarz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <!-- <link href="<c:url value='http://fonts.googleapis.com/css?family=Economica' />" rel='stylesheet' type='text/css'/>
    &lt;!&ndash; Bootstrap &ndash;&gt;
    <link rel="stylesheet" href="<c:url value='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css' />"/>
    &lt;!&ndash; Respomsive slider &ndash;&gt;
    <link href="<c:url value='/resources/css/responsive-calendar.css' />" rel="stylesheet"/>-->
</head>
<body>
<div class="col-lg-3 col-sm-3 col-xs-3"></div>
<div class="container col-lg-6 col-sm-6 col-xs-6">

</div>

<script type="text/javascript">

        $('.btn.btn-success').click(function(){
            var workingDays = [];
            $("div .active").each(function() {
                var workday = $(this).find('a').attr('data-day') + "." + $(this).find('a').attr('data-month') + "." + $(this).find('a').attr('data-year');
                workingDays.push(workday);
                $(this).removeClass('active');
            });

            workingDays.forEach(addWorkingDay);

            function addWorkingDay(item) {

                var url = './add';
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {workingDay:item},
                    success: function() {
                        location.reload()
                    }
                })
            }
        });
/*        // Obsługa przycisku 'Anuluj'
        $('.btn.btn-danger').click(function(){
            location.reload();
        });
        //	Obsługa przycisku 'Wróć'
        $('.btn.btn-info').click(function(){
            window.history.back();
        });
        //Obsłuha przycisku 'Wygoluj'
        $('.btn.btn-warning').click(function(){
            window.location.href = "../";
        })*/
/*        var year = (new Date).getFullYear();
        var month = (new Date).getMonth() + 2;
        var day = 1;
        $('.responsive-calendar').responsiveCalendar({
            time: year + '-' + month + '-' + day,
            events: {
                "2013-04-30": {"number": 5, "url": "http://w3widgets.com/responsive-slider"},
                "2013-04-26": {"number": 1, "url": "http://w3widgets.com"},
                "2013-05-03":{"number": 1},
                "2013-06-12": {}}
        });*/

        function getChosenDays() {
            var result="";
            $.ajax({
                url:"./chosenDays",
                async: false,
                success:function(data) {
                    result = data;
                }
            });
            return result;
        }
        $(document).ready(function() {
            var chosenDays = getChosenDays();
            if (chosenDays.length > 0) {
                for (var i = 0; i < chosenDays.length; i++) {
                    var day = $('[data-day~="' + chosenDays[i] + '"]').parents('div:not(.not-current)');
                    day.addClass('active');
                }
            }
        });
    });
</script>
</body>
</html>