<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Login</title>
    <link th:href="@{/vendor/css/background.css}" rel="stylesheet"/>
</head>
<body>
<form th:action="@{/teacher/add}" method="post" th:object="${teacher}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-center">Zaloguj się</h1>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" placeholder="Login" class="form-control" id="login" th:field="*{login}"/>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Hasło" class="form-control" id="password" th:field="*{password}"/>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-lg btn-primary" value="Login"/>
                    <!--<span class="pull-right"><a href="#">Register</a></span><span><a href="#">Forgot Password</a></span>-->
                </div>
            </div>
        </div>
    </div>

</form>
</body>
</html>