<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/vendor/css/background.css}" rel="stylesheet"/>
    <title>No Login</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked admin-menu">
                <li class="active"><a th:href="@{/teacher/add}" data-target-id="home"><i class="fa fa-home fa-fw"></i>Wróć</a></li>
                <li class="active"><a th:href="@{/student/add}" data-target-id="home"><i class="fa fa-home fa-fw"></i>Rejestracja</a></li>
                <li class="active"><a th:href="@{/login}" data-target-id="home"><i class="fa fa-home fa-fw"></i>Login dla Uczniów</a></li>

            </ul>
        </div>
    </div>
</div>
<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <h1 class="text-center">Nie możesz się zalogować brak uprawnień</h1>
        </div>
    </div>
</div>
</body>
</html>