<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/vendor/css/background.css}" rel="stylesheet"/>
    <title>All Classes</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked admin-menu">
                <li class="active"><a href="/login/teacher" data-target-id="home"><i class="fa fa-home fa-fw"></i>Home</a></li>
            </ul>
        </div>
    </div>
</div>
<table>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-center">Zajęcia tego studenta</h1>
            </div>
            <div class="modal-body">
                <div class="form-group">
                <div th:each="student : ${student}" >

                    <span th:text="${student.name}"></span>
                    <span th:text="${student.lastName}"></span>
                    <span th:text="${student.phoneNumber}"></span>
                    <span th:text="${student.email}"></span>
                </div>
                </div>
            </div>

        </div>
    </div>
</table>


</body>
</html>